@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap");

body {
  font-family: "Amiri", serif;
  margin: 0px;
}

.header {
  padding-top: 1rem;
  margin: 0rem;
  border-bottom: 1px solid black;
  backdrop-filter: blur(3px);
  /* background-color: azure; */
}

.bgimg {
  background-image: url(./images/dice-pattern.jpg);
}

.SubItems {
  text-align: center;
  /* background-color: paleturquoise; */
  
}

.link {
  text-decoration: none;
  color: black;
}

.Heading {
  padding-top: 0rem;
  margin-top: 0px;
  font-size: 4rem;
  font-weight: bold;
  color: black;
  text-align: center;

  /* background-color: palegreen; */
}

.navigation-bar {
  padding-top: 0rem;
}

.navigation-item {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem;
  margin-right: 1rem;
  display: inline;
}

.contentBlock{
  /* background-color: aliceblue; */
  margin-top: 5rem;
}

.contentHead{
  text-align: center;
  margin-bottom: 0px;
}

.content {
  text-align: justify;
  font-size: 1.5rem;
  padding: 1rem;

  margin: auto;
  margin-top: 0px;
  max-width: 50%;
  /* background-color: aquamarine; */
}

.contentImg{
  max-width: 350px;
  display:block;
  margin: auto;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  padding: rem;
  /* background-color: aqua; */
}

.quizHead {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.questionsBlock {
  margin: 2rem;
  padding: 1rem;
  
}

#lawcha{
  background-color: #EDE9FE;
}

#gooevi{
  background-color: #f5f3fd;
}

.questionBlock {
  margin: 1rem;
  padding: 0.5rem;
  /* background-color: lightblue; */
}

.questionSingle {
  padding: 0.5rem;
  /* background-color: pink; */
}

.options {
  padding: 1rem;
  /* background-color: palegreen; */
}

.question {
  padding: 0.5rem;
  font-size: x-large;
  font-weight: bold;
}

.submitButton, #takeQuizButton {
  text-align: center;
  padding: 1rem;
}

.takeQuizButtonInside {
  font-family: "Amiri", serif;
  background-color: #EDE9FE;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5rem 2rem;
}

.submitButtonInside {
  font-family: "Amiri", serif;
  background-color: #EDE9FE;
  font-weight: bold;
  font-size: large;
  padding: 0.5rem;
}

.submitText {
  text-decoration: none;
  color: black;
}
.option {
  font-size: medium;
  /* font-weight: bold; */
}

.oneOption {
  padding: 1rem;
}

#resultText{
  font-weight:bold;
  font-size: large;
}

.errorText{
  font-size: larger;
  color: red;
  font-weight: bold;
}